# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


# dotenv
.env

# virtualenv
.venv
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyproject



# mkdocs documentation
/site

#idea
.idea/

# dataset
train_data.csv
predict_data.csv
